*{
border:none;
margin:none;}
.container{
padding-left:100px;
padding-top:100px;
}
.btn-success{
background-color:green;
color:white;}
.btn-warning{
background-color:red;
color:white;}
.btn-primary{
background-color:blue;
color:white;}
.btn-secondary{
background-color:skyblue;
color:grey;}
.btn-info{
background-color:darkyellow;
color:black;}
.btn-danger{
background-color:red;
color:white;}
.btn-dark{
background-color:black
color:white;}