<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Output</title>
    <style>
        *{
        margin:none;
        border:none;
        }
        body{
        background-color:#555;
        }
        .container{
         background-color:white;
         padding-left:75px;
         padding-top:75px;
        }
        .btn{
        background-color:skyblue;
        color:white;
        }
    </style>
</head>
<body>
    <div class="container">
        <form action="/">
        <table>

            <tr>
                <th>Asked</th>
                <th>Given</th>
            </tr>
            <tr>
                <td>name</td>
                <td><p>{{name}}</p></td>
            </tr>
            <tr>
                <td>section</td>
                <td><p>{{section}}</p></td>
            </tr>
            <tr>
                <td>city</td>
                <td><p>{{city}}</p></td>
            </tr>
            <tr>
                <td>age</td>
                <td><p>{{age}}</p></td>
            </tr>
            <input type="submit" class="btn" >
        </table>
            </form>
    </div>

</body>
</html>